.strength-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-dark-grey);
  padding: 1.5rem 2rem;
  font-size: 1.125rem;
  color: var(--grey);
}

.strength-level {
  display: inherit;
  gap: 0.97rem;
  align-items: center;
}

.strength-level-text {
  font-size: 1.5rem;
  color: var(--light-grey);
  text-transform: uppercase;
}

.strength-level-tiles {
  display: flex;
  gap: 0.5rem;
}

.red {
  background-color: var(--red);
}

.black {
  background-color: var(--very-dark-grey);
  border: 2px solid var(--light-grey);
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.green {
  background-color: var(--neon-green);
}

.red,
.black,
.yellow,
.green,
.orange {
  width: 0.625rem;
  height: 1.75rem;
  flex-shrink: 0;
}
