.char-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  margin: 2rem 0;
  background: var(--very-dark-grey);
  cursor: pointer;
  height: 0.5rem;
}

.char-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.75rem;
  width: 1.75rem;
  background-color: var(--neon-green);
  border-radius: 50%;
}

.char-range::-webkit-slider-thumb:active {
  background-color: var(--very-dark-grey);
  border: 2px solid var(--neon-green);
}
